.Text {
	width: fit-content;
	padding: 0;
	margin: 0;
	@include font("Roboto");

	&--small {
		font-size: 12px;
	}

	&--default {
		font-size: 16px;
	}

	&--large {
		font-size: 24px;
	}

	&--bold {
		font-weight: bold;
	}

	&--italic {
		font-style: italic;
	}
}
