.Title {
	width: fit-content;
	padding: 0;
	margin: 0;
	@include font("Roboto");

	&--small {
		font-size: 32px;
	}

	&--medium {
		font-size: 42px;
	}

	&--large {
		font-size: 64px;
	}

	&--bold {
		font-weight: bold;
	}

	&--italic {
		font-style: italic;
	}
}
