.Home {
	width: 100%;
	height: 100vh;
	display: flex;

	&__section {
		width: 500%;
		display: flex;
		align-items: center;
		justify-content: center;

		&--active {
			width: 100%;
		}

		&--hidden {
			width: 0;
		}
	}

	#home-ts {
		background: $color-primary-dark;
	}

	#home-js {
		background: $color-dark;
	}
}
