.Topbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  @include layer("topbar");

  &__content {
    padding: spacing("sm");
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
		padding: spacing('sm');
		margin: 0;
		background: $color-primary-dark;
		color: $color-light;
	}

  &__chips {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: spacing("sm");
  }
}